## Teste Engenheiro de Dados

### 1) O arquivo de entrada contém uma série histórica de preços de combustíveis do Brasil, do ano de 2019, as colunas são:
DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,MUNICÍPIO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO.

# Usando o apache Spark (Pyspark ou SparkR) faça:
#### a) Estes valores estão distribuídos em dados semanais, agrupe eles por mês e calcule as médias de valores de cada combustível por cidade.
#### b) Calcule a média de valor do combustível por estado e região.
#### c) Calcule a variância e a variação absoluta do máximo, mínimo de cada cidade, mês a mês.
#### d) Quais são as 5 cidades que possuem a maior diferença entre o combustível mais barato e o mais caro.

In [283]:
import pandas as pd
import pandas as pd
import neattext.functions as nfx
import matplotlib.pyplot as plt

df = pd.read_csv('SEMANAL_MUNICIPIOS-2019.csv')
df.head(2)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,MUNICÍPIO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,30/12/2018,5/1/2019,NORTE,PARA,ABAETETUBA,ETANOL HIDRATADO,1,R$/l,"4,650","0,000","4,650","4,650",-,"0,000",-,-,-,-,-
1,30/12/2018,5/1/2019,NORDESTE,MARANHAO,ACAILANDIA,ETANOL HIDRATADO,2,R$/l,"3,524","0,389","3,249","3,799",-,"0,110",-,-,-,-,-

# Tratando as colunas

## criando coluna do Mês com base na coluna DATA FINAL

In [284]:
df['month'] = pd.DatetimeIndex(df['DATA FINAL']).month

## tratando traços das colunas de valor

In [285]:
df['PREÇO MÉDIO REVENDA'] = df['PREÇO MÉDIO REVENDA'].str.replace('-','0')
df['PREÇO MÉDIO REVENDA'] = df['PREÇO MÉDIO REVENDA'].str.replace(',','.')

df['PREÇO MÍNIMO REVENDA'] = df['PREÇO MÍNIMO REVENDA'].str.replace('-','0')
df['PREÇO MÍNIMO REVENDA'] = df['PREÇO MÍNIMO REVENDA'].str.replace(',','.')

df['PREÇO MÁXIMO REVENDA'] = df['PREÇO MÁXIMO REVENDA'].str.replace('-','0')
df['PREÇO MÁXIMO REVENDA'] = df['PREÇO MÁXIMO REVENDA'].str.replace(',','.')

df['PREÇO MÉDIO DISTRIBUIÇÃO'] = df['PREÇO MÉDIO DISTRIBUIÇÃO'].str.replace(',','.')
df['PREÇO MÉDIO DISTRIBUIÇÃO'] = df['PREÇO MÉDIO DISTRIBUIÇÃO'].str.replace('-','0')


df['PREÇO MÍNIMO DISTRIBUIÇÃO'] = df['PREÇO MÍNIMO DISTRIBUIÇÃO'].str.replace('-','0')
df['PREÇO MÍNIMO DISTRIBUIÇÃO'] = df['PREÇO MÍNIMO DISTRIBUIÇÃO'].str.replace(',','.')


df['PREÇO MÁXIMO DISTRIBUIÇÃO'] = df['PREÇO MÁXIMO DISTRIBUIÇÃO'].str.replace('-','0')
df['PREÇO MÁXIMO DISTRIBUIÇÃO'] = df['PREÇO MÁXIMO DISTRIBUIÇÃO'].str.replace(',','.')

## Convertendo colunas para dados númericos

In [286]:
df['PREÇO MÉDIO REVENDA'] = pd.to_numeric(df['PREÇO MÉDIO REVENDA'])
df['PREÇO MÍNIMO REVENDA'] = pd.to_numeric(df['PREÇO MÍNIMO REVENDA'])
df['PREÇO MÁXIMO REVENDA'] = pd.to_numeric(df['PREÇO MÁXIMO REVENDA'])

df['PREÇO MÉDIO DISTRIBUIÇÃO'] = pd.to_numeric(df['PREÇO MÉDIO DISTRIBUIÇÃO'])
df['PREÇO MÍNIMO DISTRIBUIÇÃO'] = pd.to_numeric(df['PREÇO MÍNIMO DISTRIBUIÇÃO'])
df['PREÇO MÁXIMO DISTRIBUIÇÃO'] = pd.to_numeric(df['PREÇO MÁXIMO DISTRIBUIÇÃO'])

In [287]:
df.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,MUNICÍPIO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,month
0,30/12/2018,5/1/2019,NORTE,PARA,ABAETETUBA,ETANOL HIDRATADO,1,R$/l,4.650,"0,000",4.650,4.650,-,"0,000",0.000,-,0.000,0.000,-,5
1,30/12/2018,5/1/2019,NORDESTE,MARANHAO,ACAILANDIA,ETANOL HIDRATADO,2,R$/l,3.524,"0,389",3.249,3.799,-,"0,110",0.000,-,0.000,0.000,-,5
2,30/12/2018,5/1/2019,SUDESTE,SAO PAULO,ADAMANTINA,ETANOL HIDRATADO,8,R$/l,2.599,"0,105",2.450,2.690,"0,243","0,040",2.356,"0,078",2.269,2.420,"0,033",5
3,30/12/2018,5/1/2019,CENTRO OESTE,GOIAS,AGUAS LINDAS DE GOIAS,ETANOL HIDRATADO,5,R$/l,3.031,"0,110",2.939,3.199,"0,359","0,036",2.672,"0,024",2.655,2.689,"0,009",5
4,30/12/2018,5/1/2019,NORDESTE,BAHIA,ALAGOINHAS,ETANOL HIDRATADO,9,R$/l,3.220,"0,170",2.920,3.320,"0,404","0,053",2.816,"0,090",2.725,2.904,"0,032",5

## a) Estes valores estão distribuídos em dados semanais, agrupe eles por mês e calcule as médias de valores de cada combustível por cidade

In [291]:
df_mes = df[['MUNICÍPIO','month', 'PREÇO MÉDIO REVENDA','PREÇO MÍNIMO REVENDA','PREÇO MÁXIMO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
            'PREÇO MÍNIMO DISTRIBUIÇÃO', 'PREÇO MÁXIMO DISTRIBUIÇÃO']]
df_mes.head(2)

,MUNICÍPIO,month,PREÇO MÉDIO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO
0,ABAETETUBA,5,4.650,4.650,4.650,0.0,0.0,0.0
1,ACAILANDIA,5,3.524,3.249,3.799,0.0,0.0,0.0

In [293]:
df_grupo = df_mes.groupby(by=['month','MUNICÍPIO']).mean()
df_grupo

                             PREÇO MÉDIO REVENDA  PREÇO MÍNIMO REVENDA  \
month MUNICÍPIO
1     ABAETETUBA                       17.802933             16.727933
      ACAILANDIA                       17.864000             17.196533
      ADAMANTINA                       15.712067             15.209333
      AGUAS LINDAS DE GOIAS            15.023000             14.264533
      ALAGOINHAS                       16.095467             15.759267
...                                          ...                   ...
12    VOLTA REDONDA                    15.325833             14.790833
      VOTORANTIM                       15.989600             14.551200
      VOTUPORANGA                      15.590000             14.721200
      XANXERE                          18.210200             17.779200
      XINGUARA                         22.692600             22.180000

                             PREÇO MÁXIMO REVENDA  PREÇO MÉDIO DISTRIBUIÇÃO  \
month MUNICÍPIO
1     ABAETETUBA                        18.876000                 15.201133
      ACAILANDIA                        18.266800                 10.164933
      ADAMANTINA                        16.212000                 12.956067
      AGUAS LINDAS DE GOIAS             16.674467                 12.594400
      ALAGOINHAS                        16.382267                 12.573933
...                                           ...                       ...
12    VOLTA REDONDA                     15.784333                 11.521833
      VOTORANTIM                        16.789200                 12.451200
      VOTUPORANGA                       15.937200                 11.609000
      XANXERE                           18.610000                 13.863600
      XINGUARA                          23.469800                 16.739400

                             PREÇO MÍNIMO DISTRIBUIÇÃO  \
month MUNICÍPIO
1     ABAETETUBA                             15.183067
      ACAILANDIA                             10.158600
      ADAMANTINA                             12.804067
      AGUAS LINDAS DE GOIAS                  12.311667
      ALAGOINHAS                             12.399933
...                                                ...
12    VOLTA REDONDA                          11.368000
      VOTORANTIM                             11.870400
      VOTUPORANGA                            11.597400
      XANXERE                                13.863600
      XINGUARA                               16.739400

                             PREÇO MÁXIMO DISTRIBUIÇÃO
month MUNICÍPIO
1     ABAETETUBA                             15.219200
      ACAILANDIA                             10.171200
      ADAMANTINA                             13.138000
      AGUAS LINDAS DE GOIAS                  12.898667
      ALAGOINHAS                             12.696333
...                                                ...
12    VOLTA REDONDA                          11.616667
      VOTORANTIM                             13.569400
      VOTUPORANGA                            11.620400
      XANXERE                                13.863600
      XINGUARA                               16.739400

[5038 rows x 6 columns]